<ion-header>
  <ion-toolbar>
    <ion-title>Lecteur</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img src={{Album.image}}></ion-img>

  <div id="container">
    <h2>{{Music.titre}}</h2>
    <ion-range min="0" max="100" value="40" mode="md" color="warning"></ion-range>
    <ion-label>Durée du sons: {{time}} S </ion-label>
  </div>
  
  <div>
    <div class="flex_box">
      <ion-button shape="round" color="light" (click)="PlayMusic(Music)">
        <ion-icon slot="icon-only" name="play-outline"></ion-icon>
      </ion-button>
      &nbsp; &nbsp; &nbsp;
    <div class="flex_box">
      <ion-button shape="round" color="light" *ngIf="!pause" (click)="PauseMusic(Music)">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="light" *ngIf="pause" (click)="ResumeMusic(Music)">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>
    </div>
      &nbsp; &nbsp; &nbsp; 
      <div class="flex_box">
        <ion-button shape="round" color="light" (click)="StopMusic(Music)">
          <ion-icon slot="icon-only" name="square"></ion-icon>
        </ion-button>
      </div>
    </div>
    <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Play &nbsp; &nbsp; &nbsp; &nbsp; Pause/Resume &nbsp; &nbsp; &nbsp; &nbsp; Stop </p>
  </div>

  <div class="flex_box">
    <ion-button fill="clear" color="light" (click)="VolumeSub(Music)">
      <ion-icon slot="icon-only" name="volume-off-outline"></ion-icon>
      <ion-icon name="remove-outline"></ion-icon>
      <ion-badge color="gray">{{vol}}</ion-badge>
    </ion-button>
    <ion-button fill="clear" color="light" (click)="VolumeAdd(Music)">
      <ion-icon slot="icon-only" name="volume-high-outline"></ion-icon>
      <ion-icon name="add-outline"></ion-icon>
      <ion-badge color="gray">{{vol}}</ion-badge>
    </ion-button>
  </div>
 
</ion-content>
