ion-content{  
    --ion-background-color: linear-gradient(to bottom, rgb(240, 241, 247) 0%, rgb(67, 69, 71) 100%);
}

ion-img{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

#container {
    text-align: center;
    padding: 20px;
  ion-range {
    padding: 0px 10px;
    --bar-height: 3px;
  }
  ion-label {
    color: black;
    font-size: 15px;
    margin: 0px;
    font-weight: 500;
  }
}

.flex_box {
    // height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  ion-button {
    // height: 86px;
    min-height: max-content;
    // margin: 0px 7px;
    font-size: 21px;
    color: gray;
    // margin-top: -10%;
  }
  p{
    text-align: center;
    border: 1px solid black;
  }
}
