// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** rougee **/
  --ion-color-rougee: #cf0707;
	--ion-color-rougee-rgb: 207,7,7;
	--ion-color-rougee-contrast: #ffffff;
	--ion-color-rougee-contrast-rgb: 255,255,255;
	--ion-color-rougee-shade: #b60606;
	--ion-color-rougee-tint: #d42020;

  /** vert **/
  --ion-color-vert: #158906;
	--ion-color-vert-rgb: 21,137,6;
	--ion-color-vert-contrast: #ffffff;
	--ion-color-vert-contrast-rgb: 255,255,255;
	--ion-color-vert-shade: #127905;
	--ion-color-vert-tint: #2c951f;

  /** jaune **/
  --ion-color-jaune: #efff0a;
	--ion-color-jaune-rgb: 239,255,10;
	--ion-color-jaune-contrast: #000000;
	--ion-color-jaune-contrast-rgb: 0,0,0;
	--ion-color-jaune-shade: #d2e009;
	--ion-color-jaune-tint: #f1ff23;

  /** marron **/
  --ion-color-marron: #8e4a0b;
	--ion-color-marron-rgb: 142,74,11;
	--ion-color-marron-contrast: #ffffff;
	--ion-color-marron-contrast-rgb: 255,255,255;
	--ion-color-marron-shade: #7d410a;
	--ion-color-marron-tint: #995c23;

  /** violet **/
  --ion-color-violet: #b003aa;
	--ion-color-violet-rgb: 176,3,170;
	--ion-color-violet-contrast: #ffffff;
	--ion-color-violet-contrast-rgb: 255,255,255;
	--ion-color-violet-shade: #9b0396;
	--ion-color-violet-tint: #b81cb3;

  /** orange **/
  --ion-color-orange: #e66f00;
	--ion-color-orange-rgb: 230,111,0;
	--ion-color-orange-contrast: #000000;
	--ion-color-orange-contrast-rgb: 0,0,0;
	--ion-color-orange-shade: #ca6200;
	--ion-color-orange-tint: #e97d1a;

  /** bleu **/
  --ion-color-bleu: #022692;
	--ion-color-bleu-rgb: 2,38,146;
	--ion-color-bleu-contrast: #ffffff;
	--ion-color-bleu-contrast-rgb: 255,255,255;
	--ion-color-bleu-shade: #022180;
	--ion-color-bleu-tint: #1b3c9d;

  /** viol **/
  --ion-color-viol: #7e0279;
	--ion-color-viol-rgb: 126,2,121;
	--ion-color-viol-contrast: #ffffff;
	--ion-color-viol-contrast-rgb: 255,255,255;
	--ion-color-viol-shade: #6f026a;
	--ion-color-viol-tint: #8b1b86;

  /** viole **/
  --ion-color-viole: #81227e;
	--ion-color-viole-rgb: 129,34,126;
	--ion-color-viole-contrast: #ffffff;
	--ion-color-viole-contrast-rgb: 255,255,255;
	--ion-color-viole-shade: #721e6f;
	--ion-color-viole-tint: #8e388b;
}

.ion-color-viole {
  --ion-color-base: var(--ion-color-viole);
  --ion-color-base-rgb: var(--ion-color-viole-rgb);
  --ion-color-contrast: var(--ion-color-viole-contrast);
  --ion-color-contrast-rgb: var(--ion-color-viole-contrast-rgb);
  --ion-color-shade: var(--ion-color-viole-shade);
  --ion-color-tint: var(--ion-color-viole-tint);
}

.ion-color-viol {
  --ion-color-base: var(--ion-color-viol);
  --ion-color-base-rgb: var(--ion-color-viol-rgb);
  --ion-color-contrast: var(--ion-color-viol-contrast);
  --ion-color-contrast-rgb: var(--ion-color-viol-contrast-rgb);
  --ion-color-shade: var(--ion-color-viol-shade);
  --ion-color-tint: var(--ion-color-viol-tint);
}

.ion-color-bleu {
  --ion-color-base: var(--ion-color-bleu);
  --ion-color-base-rgb: var(--ion-color-bleu-rgb);
  --ion-color-contrast: var(--ion-color-bleu-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bleu-contrast-rgb);
  --ion-color-shade: var(--ion-color-bleu-shade);
  --ion-color-tint: var(--ion-color-bleu-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}

.ion-color-marron {
  --ion-color-base: var(--ion-color-marron);
  --ion-color-base-rgb: var(--ion-color-marron-rgb);
  --ion-color-contrast: var(--ion-color-marron-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marron-contrast-rgb);
  --ion-color-shade: var(--ion-color-marron-shade);
  --ion-color-tint: var(--ion-color-marron-tint);
}

.ion-color-rougee {
  --ion-color-base: var(--ion-color-rougee);
  --ion-color-base-rgb: var(--ion-color-rougee-rgb);
  --ion-color-contrast: var(--ion-color-rougee-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rougee-contrast-rgb);
  --ion-color-shade: var(--ion-color-rougee-shade);
  --ion-color-tint: var(--ion-color-rougee-tint);
}

  .ion-color-vert {
    --ion-color-base: var(--ion-color-vert);
    --ion-color-base-rgb: var(--ion-color-vert-rgb);
    --ion-color-contrast: var(--ion-color-vert-contrast);
    --ion-color-contrast-rgb: var(--ion-color-vert-contrast-rgb);
    --ion-color-shade: var(--ion-color-vert-shade);
    --ion-color-tint: var(--ion-color-vert-tint);
  }

  .ion-color-jaune {
    --ion-color-base: var(--ion-color-jaune);
    --ion-color-base-rgb: var(--ion-color-jaune-rgb);
    --ion-color-contrast: var(--ion-color-jaune-contrast);
    --ion-color-contrast-rgb: var(--ion-color-jaune-contrast-rgb);
    --ion-color-shade: var(--ion-color-jaune-shade);
    --ion-color-tint: var(--ion-color-jaune-tint);
  }

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
