<ion-header>
  <ion-toolbar>
    <ion-title>Musiques</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>{{Album.titre}}</ion-label>
    </ion-list-header>
    <br><br>
    <ion-item *ngFor="let l of List" (click)="onClick(l, Album)">
      <ion-thumbnail slot="start">
        <img src= {{Album.image}} />
      </ion-thumbnail>
      <ion-label>
        {{l.titre}}
        <br>
        {{l.auteur}} 
      </ion-label>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
