<ion-header>
  <ion-toolbar>
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-avatar>
      <img src="../../../assets/logo.jfif" />
    </ion-avatar>
  </ion-card>


  <ion-item>
    <ion-label>
      Nom de l'application : Lecteur de musiques
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Auteur: Nzamboue Tisseu Hilary
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Copyrigth: Hilary 2022
    </ion-label>
  </ion-item>

</ion-content>
