

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="accueil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Album</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="apropos">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>A propos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
