<ion-header>
  <ion-toolbar>
    <ion-title>Lecteur de Musique</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu" id="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="../../../assets/logo.jfif"> </ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-header>
    ALBUMS
  </ion-header>

  <ion-card *ngFor="let a of Album" (click)="onClick(a)">
    <img src={{a.image}}/>
  </ion-card>

</ion-content>

