.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 250px;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
    }

    img{
        width: 100%;
        height: 100%;
    }

    ion-label{
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      color: white;

    }

    ion-header{
      font-family: Garamond;
      font-size: 35px;
      text-align: center;
    }
  
}

  ion-toolbar{
    
    background-color: var(--ion-color-medium-tint);
    font-family: Garamond;

    ion-title{
      font-size: 20px;
      text-align: center;
    }

    ion-avatar {
      zoom: 1.2;
    }

    #menu{
      zoom: 1.5;
      color: black;
    }

  }